@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{margin: 0;
    padding: 0;
    font-weight: 400; 
    box-sizing: border-box;
    font-family: 'philosopher';
}
.colorNav{
    background-color: #f85625;}
.nav-estilo{
     display: flex;
     justify-content:space-around;
    font-size: 1.3rem;
}
.hover-nav:hover {
    background-color: #4d4d4d;
    color: #f85625 !important;
    border: solid;
    border-radius: 5px;
    transition: 1s;

}
.tamaño-carousel{
    height: 30vh;
}
.img-carousel{
    object-fit: cover;
    height: initial;
}
@media (min-width: 600px) and (max-width: 800px){
    .tamaño-carousel{ height: 40vh;
    }
}
@media (min-width: 801px) and (max-width: 1100px){
    .tamaño-carousel{ height: 50vh;
    }
}
@media (min-width: 1101px) and (max-width: 1200px) {
    .tamaño-carousel{ height: 60vh;
    }
}
@media (min-width: 1201px) {
        .tamaño-carousel{ height: 70vh
    }
}